pandas==2.3.1
jupyter==1.1.1
numpy==2.3.1
jupyterLab==4.4.4
DateTime==5.5
cloudpathlib==0.21.1
seaborn==0.13.2
scikit-learn==1.7.1
matplotlib==3.10.3
nltk==3.9.1
joblib==1.5.1

flake8==7.3.0
coverage==7.9.2
json-rpc==1.15.0
gunicorn==23.0.0
Flask==3.1.1
simplejson==3.20.1
pytest==8.4.1